/* body {
    width: 100vw;
    height: 100vh;
    background: rgb(27, 225, 9);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
body {
    margin: 0;
    padding: 0;
}

.giftcard-outer {
    background: linear-gradient(135deg, #5b9775 0%, #165B33 100%);
    padding: 3%;
    border-radius: 10%;
    width: 69%;
    height: 92.5%;
    float: left;
}

.giftcard-outer-free {
    background: linear-gradient(135deg, #5b9775 60%, #165B33 100%);
    padding: 3%;
    border-radius: 10%;
    float: left;
}
  
.giftcard {
    /* background: rgba(255, 255, 255, 0.9); */
    background: linear-gradient(135deg, #f8b3295e 0%, #bb25285e 100%);
    width: 96%;
    height: 98%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 0;
}

.giftcard-free {
    background: linear-gradient(135deg, #f8b3295e 0%, #bb25285e 100%);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 0;
}