body {
    width: 100vw;
    height: 100vh;
    background: rgb(27, 225, 9);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftcard-outer {
    background: linear-gradient(135deg, #ff008c 0%, rgb(211, 9, 225) 100%);
    padding: 3%;
    border-radius: 10%;
}
  
.giftcard {
    background: rgba(255, 255, 255, 0.9);
    width: 96%;
    height: 98%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 0;
}